*{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#selectingId{
  color: red;
}

.classSelector{
  color: blue;
}

h2{
  color: brown;
}

/* #headingGroup{
  color: orange;
}

.paraGroup{
  color: orange;
}

.spanGroup{
  color: orange;
} */

#headingGroup, .paraGroup, .spanGroup{
  color: orange;
}

#parent h2, #parent p{
  color: violet;
}

/* #parent > h2, #parent > p{
  color: violet;
} */


#highlight:hover{
  color: greenyellow;
  background-color: red;
}

#food li:nth-child(odd){
  color: green;
}
#food li:nth-child(even){
  color: orange;
}

#nonVeg li:nth-child(4){
  color: blue;
}

#nonVeg li:first-child{
  color: yellow;
}

#nonVeg li:nth-last-child(3){
  color: brown;
}

#firstLetter::first-letter{
  color: red;
  font-size: 30px;
}
